{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 150,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "requirePragma": false,
  "proseWrap": "preserve",
  "plugins": [],
  "insertPragma": false,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "quoteProps": "as-needed"
}
